services:
  _defaults:
    autoconfigure: true

  erdmannfreunde.theme_toolbox.listener.disable_css_caching:
    class: ErdmannFreunde\ThemeToolboxBundle\EventListener\DisableCssCachingListener
    public: true

  erdmannfreunde.theme_toolbox.listener.bypass_mode_alert_message:
    class: ErdmannFreunde\ThemeToolboxBundle\EventListener\BypassModeAlertMessageListener
    public: true

  ErdmannFreunde\ThemeToolboxBundle\EventListener\DataContainer\RegisterFieldsInPaletteListener:
    arguments: ['@database_connection']
    public: true

  ErdmannFreunde\ThemeToolboxBundle\EventListener\DataContainer\SaveClasses:
    arguments: ['@database_connection']
    public: true

  ErdmannFreunde\ThemeToolboxBundle\EventListener\ParseTemplateListener:
    public: true

  ErdmannFreunde\ThemeToolboxBundle\EventListener\GetAllEventsListener:
    public: true

  ErdmannFreunde\ThemeToolboxBundle\EventListener\DataContainer\AdditionalFieldListener:
    arguments: [ '@database_connection' ]
    public: true
